.App {
  text-align: center;
}

.App-logo {
  height: 120px;
}

.App-header {
  background-color: #637d7d;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #87223b;
  color: white;
  text-align: center;
  min-height: 50px;
}

.App-footer p {
  margin-top: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form-group {
  margin-top: 30px;
  margin-bottom: 50px;
}

.submit {
    width: 60%;
    margin-top: 10px;
}

.mp3-button {
  margin-left: 40px !important;
}

.translation-list {
  width: 60%;
}

.main-window {
  height: -webkit-fill-available;
  display: block;
  margin: 20px;
}

.sortable-list {
  height: 600px;
  overflow: auto;
}

input[type="text"] {
  width: 80%;
  height: 50px;
  border: 1px solid #efefef;
  font-size: 22px;
}
